@font-face {
  font-family: 'TourneySemiBold';
  src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
  url('../fonts/NunitoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-size: 40px;
}